/* :root{

} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
/* header */


.header {
    border: 1px solid red;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.search {
    flex: 1;
    display: flex;
    padding: 5px;
    gap: 10px;
    /* align-items: center; */
    border: 1px solid gray;

}
input[type='text'] {
    height: 4vh;
    flex: 1;
    min-width: 1vh;
    max-width: 80%;
    font-size: 1rem;
    padding-left: 2vh;
    border-radius: 25vh;
    border: none;
    background-color: rgb(201, 199, 199);
}

 img {
    width: min(3vw, 3vh);
}
.search img {
    width: min(3vw, 3vh);
}
.header-up {
    display: flex;
    gap: 15vw;
    padding: 5px 10px;
    border: 1px solid green;
}
.notification {
    border: 1px solid purple;
    display: flex;
    align-items: center;
    gap: 2vw;
    justify-content: center;
    align-content: center;
    max-width: 300px;
    flex: 1;
}
.header-down {
border: 1px solid orange;
}
